@import url(https://fonts.google.com/specimen/Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  background: hsla(0, 0%, 0%, 1);
  margin: 0;
  overflow: hidden;
  cursor: move;
  overflow: scroll;
}
.image {
    border-radius: 50%;
    height: 150px;
    width: auto;
    margin: auto;
    display: inline-block;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    border: 1pt solid black;
}
a{
    margin: 28px;
    color: hsla(216,95%,85%,.3);
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    font-size: 24pt;
    outline: 0;
}
a:visited {
    text-decoration: none;
    border: none;
    outline: 0;
}
a:active {
    text-decoration: none;
    border: none;
    outline: 0;
}
a:hover{
    color: hsla(216,100%,90%,.5) 
}
h2{
    font-family: 'Amatic SC', cursive;
    color: hsla(216,95%,100%,1);
    font-size: 40pt;
}
h1{
    font-family: 'Amatic SC', cursive;
    color: hsla(216,95%,100%,1);
    font-size: 45pt;
    text-align: center;
}
#about{
    height: 100%;
    width: 100%;
    background: linear-gradient(#240621, #4A104C);
}
#portfolio{
    height: 100%;
    width: 100%;
    background: linear-gradient(#4A104C, #703160)
}
#contact{
    height: 100%;
    width: 100%;
    background: linear-gradient( #703160, #A665A3)
}
p{
    color: hsla(216,95%,100%,1);
    font-family: 'Raleway', sans-serif;
    font-size: 15pt;
    text-align: justify;
}
li{
    color: hsla(216,95%,100%,1);
    font-family: 'Raleway', sans-serif;
    font-size: 15pt;
    list-style: none;
    
}
.icon{
    width: 150px;
    height: auto;
}
#open{
    opacity: 0;
}

#email:hover #shut{
    opacity: 0;
}
#email:hover #open{
    opacity: 1;
}
#mail_to{
    color: #F2F2F2;
    opacity: 0;
    font-size: 26pt;
}
#email:hover #mail_to{
    opacity: 1;
}
#github_2{
    opacity: 0;
}
#github_link{
    color: #F2F2F2;
    opacity: 0;
    font-size: 26pt; 
}
#github:hover #github_1{
    opacity: 0;
}
#github:hover #github_2{
    opacity: 1;
}

#github:hover #github_link{
    opacity: 1;
}
#linkedin_link{
    color: #F2F2F2;
    opacity: 0;
    font-size: 26pt; 
}
#linkedin:hover #linkedin_link{
    opacity: 1;
}

#linkedin:hover #linkedin_link{
    opacity: 1;
}
#linkedin:hover #linkedin_icon {
    transform: rotateY(180deg);
}